body {
    background: #efefef;
}

@media (min-width: 768px) {
    .logo-name {
        text-align: center;
        padding: 0px 5px;
        width: 200px;
    }
}

.navbar-icon-links {
    display: none;
}

@media only screen and (max-width: 830px) {
    .navbar {
        padding: 0 20px !important; 
    }
}

@media only screen and (max-width: 1100px) {
    .navbar {
        padding: 0 30px;
    }

    .navbar-icon-links {
        display: block;
        cursor: pointer;
    }

    .menu-navbar-links {
        display: none;
    }

    .icon-tablet-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0px;
        top: 45px;
        background: whitesmoke;
        width: 200px;
        height: auto;
        padding: 15px 0px;
    }

    .links-login-register a {
        display: flex;
        flex-direction: column;
    }

    .links-login-register a:first-child {
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 1100px) {
    .navbar {
        padding: 0 35px;
    }

    .menu-navbar-links a {
        padding: 0 10px;
    }
}

.collection-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    position: relative;
}

.grid-container {
    height: 100%;
    position: relative;
}

.grid-container img {
    background-color: rgba(151, 163, 163, 0.295);
}

.card-product-title {
    position: absolute;
    top: 8px;
    left: 16px;
}

.card-product-button {
    display: flex;
    white-space: nowrap;
    background: #ffff;
    padding: 10px 10px;
    width: 25%;
    height: 55px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 35px;
}

.card-product-button a{
    display: inline-block;
}